body {
    padding-top: 100px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content .filterByDate{
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

textarea {
    resize: none;
}

.field-validation-error {
    color: red;
    font-weight: bold;
    text-align: center;
}

img {
    width: 225px;
    float:left;
}

pre{
    background-color: #ffffff;
    border:none;
    font-size:1.5em;
}
