@model IEnumerable<WallAdverts.Models.User>

@{
    ViewBag.Title = "Home";
    Layout = Session["LayoutSrc"].ToString();
}

<div>
    <h3>users</h3>
    <table class="table">
        <tr class="header">
            <td><p>id</p></td>
            <td><p>email</p></td>
            <td><p>login</p></td>
            <td><p>pass</p></td>
        </tr>
        @foreach (WallAdverts.Models.User user in Model)
            {
            <tr>
                <td><p>@user.Id</p></td>
                <td><p>@user.Email</p></td>
                <td><p>@user.Login</p></td>
                <td><p>@user.Password</p></td>

            </tr>
        }
    </table>
</div>