@model WallAdverts.Models.User
@{
    ViewBag.Title = "Profile";
    Layout = Session["LayoutSrc"].ToString();

}
<div class="container">
    <div class="row">
        <div class="panel col-md-offset-2 col-md-8">
            <div class="panel panel-info">

            </div>
        </div>
    </div>
</div>
<h2>@Model.Login</h2>

